body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #EC6725;
    color: #FFFFFF;
    font-family: "Poppins", serif;
}

img {
    cursor: pointer;
}

.navbar-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
.menu-options {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 

}
.menu-options li {
    display: inline-block; 
    margin-right: 20px; 
    cursor: pointer;
    padding: 5px 10px; 
}

.menu-options li:hover {
    border: 2px solid white; 
}

.container {
    display: flex;
    justify-content: space-around;
    padding-right: 2rem;
    padding-left: 2rem;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 50%;
}

label {
    align-self: flex-start;
    font-weight: 600;
    margin-bottom: 4px;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 50%;
}

input {
    border: none;
    outline: none;
    border-radius: 6px 6px 6px 6px;
    color: #667085;
    font-weight: 400;
    line-height: 24px;
    padding: .5rem 1rem;
    width: 100%;
}
button {
    border: none;
    background-color: #555555;
    color: #FFF;
    font-size: 12px;
    line-height: 16px;
    border-radius: 6px 6px 6px 6px;
    font-weight: 700;
    padding: 12px 24px;
    text-align: center;
    transition: all .3s;
    cursor: pointer;
}

button:hover {
    background-color: #777777;
    transform: scale(1.05);
}

#result {
    text-align: center;
}

#title {
   color: #EBDC08;
   font-weight: bold;
}

.history-container {
    width: 50%;
}

#anagramas-container {
    border-width: 6px;
    border-style: dashed;
    border-color: #EBDC08;    
    height: 100%;
}

@media (max-width: 999px) {
    .container {
        flex-direction: column;
    }

    .history-container, .inputs-container,  .inputs {
        width: 100%;
    }

    h1 {
        text-align: center;
    }

    .container {
        padding-left: 0;
        padding-right: 0;
    }

    input {
        width: auto;
    }
 

}


